<div class="m-15">
    <div class="clearfix header">
        <img class="team-img" src="/assets/logos/logo-safra.svg" class="logo" />
        <h1 class="txt-color-gold">Time 24</h1>
        <mat-divider></mat-divider>
    </div>

    <div class="team-member">
        <img class="team-img" src="/assets/team/perfil.png" />
        <span class="txt-color-sand-3">Antony Luz</span>
    </div>

    <div class="team-member">
        <img class="team-img" src="/assets/team/perfil.png" />
        <span class="txt-color-sand-3">Letícia Baptista</span>
    </div>

    <div class="team-member">
        <img class="team-img" src="/assets/team/lucas-calzavara.jpg" />
        <span class="txt-color-sand-3">Lucas Cassimiro Calzavara</span>
    </div>

    <div class="team-member">
        <img class="team-img" src="/assets/team/perfil.png" />
        <span class="txt-color-sand-3">Vitor Meireles Oliveira</span>
    </div>

    <div class="team-member">
        <img class="team-img" src="/assets/team/perfil.png" />
        <span class="txt-color-sand-3">Wesley de Abreu</span>
    </div>

    <a mat-button class="txt-color-blue" [routerLink]="[ '/' ]">voltar</a>
</div>