<div class="m-15">
    <app-header [title]="'Safra Financeira'"></app-header>
    <div *ngIf="!user.clientSafra">
        <h2 class="txt-color-sand-3">Notei que você não possui conta no Safra!</h2>
        <h3 class="txt-color-sand-1">Ao clicar em aceitar você se tornará cliente Safra e contratará o serviço de financiamento.
        </h3>
    </div>

    <div *ngIf="user.clientSafra">
        <h2 class="txt-color-sand-3">Você já é cliente Safra</h2>
        <h3 class="txt-color-sand-1">Ao clicar em aceitar estará contratando o serviço de financiamento.</h3>
    </div>

    <div *ngIf="!user.clientSafraPix">
        <h3 *ngIf="!user.clientPix" class="txt-color-sand-1">Aproveite para se tornar um cliente PIX, para poder realizar transações instantâneas sem taxas! <a href="https://www.bcb.gov.br/estabilidadefinanceira/pagamentosinstantaneos">Saiba mais aqui</a>.</h3>
        <h3 *ngIf="user.clientPix" class="txt-color-sand-1">Você também pode aproveitar a oportunidade para fazer a portabilidade da chave PIX para o Safra. Venha ser PIX com a gente!</h3>

    </div>

    <div>
        <h2 class="txt-color-sand-1">Termos de adesão</h2>
        <div class="termos">**Termo de Abertura de Conta** ¹Pacote Padronizado III: A oferta de 3 meses de gratuidade é válida apenas para solicitações de abertura de novas contas correntes realizadas pelo fluxo digital e contratarem o Pacote Padronizado III. ²Sujeito à
            análise de crédito. ³Transferência ilimitada entre contas Safra: Condição válida por tempo indeterminado para correntistas Safra e somente para transações realizadas nos canais Internet Banking e Aplicativo Safra. A oferta de 2 meses de gratuidade
            é válida apenas para solicitações de abertura de novas contas correntes realizadas pelo fluxo digital. Ganhe 50% de redução na anuidade acumulando a partir de R$1.000,00 em compras a cada fatura do cartão Safra. Consulte as condições em www.Safra.com.br,
            sujeito à análise de crédito. **Termo de Adesão ao Financiamento** 1.Operação - O Credor concede ao Financiado, que aceita, um financiamento no valor indicado no Quadro IV, destinado a financiar parte/totalidade do preço contratado para a
            aquisição do(s) bem(s) e/ou serviço(s) indicados no Quadro VIII. 1.1. O Financiado concorda em ressarcir ao Credor, as despesas incorridas por esse, em decorrência de serviços prestados por terceiros, nos montantes discriminados no Quadro
            IV, os quais já se encontram incorporados ao Valor das Parcelas. Fica esclarecido que as despesas dos serviços de terceiros aqui mencionadas, abrange as despesas em decorrência dos serviços prestados pelo vendedor do bem e/ou promotores de
            venda para viabilizar a aquisição do bem/serviço e concessão do presente financiamento. 1.2. Os valores cobrados a título de tarifas, IOF, Seguros e Serviços de Terceiros (Pagamentos Autorizados) compõem o custo efetivo total da operação (CET).
            Na ausência de indicação, fica esclarecido que os juros, IOF e/ou outros custos serão suportados pelo Vendedor do bem. 1.3. O Financiado desde logo e irrevogavelmente, autoriza seja o pagamento do valor líquido do financiamento efetuado pelo
            Credor diretamente ao vendedor do bem, indicado no Quadro VI. 1.4. É de exclusiva responsabilidade do vendedor do bem/serviço ora financiado, quando aplicável, o atendimento e solução de reclamações do Financiado quanto à qualidade, quantidade,
            defeito, atraso na entrega ou qualquer outra reclamação relativa ao bem financiado/serviço prestado, ficando o Credor totalmente isento de qualquer responsabilidade com relação a esses fatos, e que o financiamento ora concedido deverá ser
            liquidado nos seus exatos termos. 2. Periodicidade de Capitalização – Os juros serão capitalizados diariamente, sendo aplicados e devidos mensalmente nos vencimentos, incidindo sobre o saldo devedor do período que antecede ao pagamento dos
            encargos. 3. Seguro Proteção Financeira – Em garantia das obrigações assumidas, o Financiado poderá contratar seguro proteção financeira, onde o Credor figurará como beneficiário, para fins de quitação das parcelas vincendas do contrato, devendo
            observar as exigências da seguradora. 4. Pagamento Antecipado – Será facultado ao Financiado amortizar ou liquidar antecipadamente a dívida oriunda do presente Contrato, mediante solicitação por escrito ao Credor, observado o disposto nas
            cláusulas seguintes. 4.1. De acordo com os normativos vigentes, o valor presente dos pagamentos para fins de amortização ou de liquidação antecipada será calculado da seguinte forma: (i) no caso do prazo a decorrer da operação, no momento
            da solicitação, ser de até 12 (doze) meses, com a utilização da taxa de juros pactuada neste Contrato; ou (ii) no caso do prazo a decorrer da operação, no momento da solicitação, ser superior a 12 (doze) meses, com a utilização a) de taxa
            equivalente à soma do ”spread”, na data da contratação com a taxa Selic mais recente disponível na data da solicitação; ou b) da taxa de juros pactuada neste Contrato, se a solicitação ocorrer no prazo de até 7 (sete) dias a contar da presente
            data. 4.2. Entende-se como a) “spread”: a diferença entre a taxa de juros pactuada neste Contrato e a taxa Selic apurada na data da contratação; e b) taxa Selic: a taxa média ajustada dos financiamentos apurados no Sistema Especial de Liquidação
            e de Custódia (SELIC) para títulos federais, divulgada pelo Banco Central do Brasil. 4.3. A liquidação antecipada das parcelas deste Contrato deverá obedecer sempre à ordem cronológica de vencimentos, liquidando-se primeiramente as parcelas
            com vencimentos mais próximos, e assim sucessivamente. 5. Custo Efetivo Total (CET) – O CET, indicado no preâmbulo deste Contrato, representa as condições do financiamento vigentes na data de seu cálculo, sendo que para este cálculo foram
            considerados os fluxos referentes às liberações e aos pagamentos previstos, incluindo taxa de juros anual pactuada neste Contrato. 5.1. Além dos encargos previstos no Quadro IV do preâmbulo, o Financiado declara ter recebido previamente à
            contratação do financiamento a Planilha de Cálculo do CET e que através desta tomou conhecimento dos fluxos e referenciais de remuneração considerados neste cálculo, e, desde já, autoriza o Credor a destinar os valores para todos os pagamentos
            por conta de serviços de terceiros, tributos, tarifas e registros junto aos Órgãos Públicos, quando for o caso. 6. Consultas e Registros aos Órgãos de Proteção ao Crédito e SCR - O Financiado e o Avalista/Devedor Solidário/Terceiro Garantidor
            autorizam o Credor a efetuar consultas ao Sistema de Risco de Crédito do Banco Central e a todas as organizações de cadastros e informações sobre seus débitos, bem como autorizam a divulgação dos dados relativos às obrigações assumidas perante
            o Credor, inclusive cadastrais, para constarem dos bancos de dados da SERASA, SCI, SCPC e assemelhados, cuja finalidade será o compartilhamento com os contratantes das referidas entidades, os quais serão utilizados para subsidiar decisões
            de crédito e negócios. ( ) O Financiado não concorda com essa cláusula. 7. O Financiado autoriza o Credor a efetuar ligações telefônicas para conferência de informações cadastrais, bem como a efetuar serviços de pós venda. ( ) O Financiado
            não concorda com essa cláusula. Firmam as partes o presente em 2 vias, sendo a 1ª via do Credor e a 2ª via do Financiado. Este Termo adere integralmente às cláusulas constantes do Contrato de Financiamento registrado no 7º Cartório de Registro
            de Títulos e Documentos de São Paulo – SP sob o n.º 1.741.919
        </div>
    </div>
    <div class="mt-15">
        <mat-checkbox [(ngModel)]="accpetedTerms" class="txt-color-sand-1">Li e aceito os termos de adesão</mat-checkbox>
    </div>
    <div class="mt-15">
        <mat-checkbox [(ngModel)]="acceptedPix" *ngIf="!user.clientPix" class="txt-color-sand-1">Quero criar a chave no PIX</mat-checkbox>
    </div>
    <div class="mt-15">
        <mat-checkbox [(ngModel)]="acceptedPix" *ngIf="user.clientPix && !user.clientSafraPix" class="txt-color-sand-1">Quero trazer minha chave para o PIX Safra
        </mat-checkbox>
    </div>
    <button mat-raised-button color="blue" (click)="accept()" class="mt-15" [disabled]="!accpetedTerms">Aceitar</button>
</div>