<div class="m-15">
    <div class="clearfix header">
        <img src="/assets/logos/logo-safra.svg" class="logo" />
        <h1 class="txt-color-gold">Configurações</h1>
        <mat-divider></mat-divider>
    </div>
    <h1 class="txt-color-blue txt-bd">Bem vindes</h1>
    <h2 class="txt-color-sand-3">para começar escolha um dos usuários abaixo como exemplo</h2>
</div>


<mat-card *ngFor="let user of users" (click)="chooseUser(user)">
    <mat-card-header>
        <mat-card-title class="txt-color-sand-5">{{user.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p class="txt-color-sand-3">
            {{user.description}}
        </p>
    </mat-card-content>
</mat-card>

<div class="m-15">
    <a mat-button class="txt-color-blue" [routerLink]="[ '/about' ]">entenda o app aqui</a>
    <a mat-button class="txt-color-blue" [routerLink]="[ '/group' ]">time</a>
</div>