<div class="m-15">
    <app-header [title]="'Configurações'"></app-header>
    <h1 class="txt-color-blue txt-bd">Bem vindes</h1>
    <h2 class="txt-color-sand-3">Para começar escolha um dos usuários abaixo como exemplo</h2>
</div>


<mat-card *ngFor="let user of users" (click)="chooseUser(user)">
    <mat-card-header>
        <mat-card-title class="txt-color-sand-5">{{user.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p class="txt-color-sand-3">
            {{user.description}}
        </p>
    </mat-card-content>
</mat-card>

<div class="m-15">
    <a mat-button class="txt-color-blue" [routerLink]="[ '/about' ]">Entenda o app aqui</a>
    <a mat-button class="txt-color-blue" [routerLink]="[ '/group' ]">Time</a>
</div>