.social-img {
    width: 60px;
    float: left;
}

.social-member {
    padding: 10px;
    vertical-align: middle;
    clear: both;
    height: 60px;
    margin-bottom: 35px;
}

span {
    float: left;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 20px;
}

a {
    text-decoration: none;
}