<div class="m-15">
    <app-header [title]="'Safra Financeira'"></app-header>

    <h2 class="txt-color-sand-3">Escolha a melhor opção para você</h2>

    <mat-card *ngFor="let option of options" (click)="chooseOption(option)" [ngClass]="{'bg-color-gold': option == selectedOption}">
        <mat-card-header>
            <mat-card-title class="txt-color-blue">Em {{option.installmentAmount}} vezes</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p class="txt-color-sand-1">
                Valor do finaciamento: R$ {{option.amount}}
            </p>
            <p class="txt-color-sand-1">
                {{option.installmentAmount}} x de R$ {{option.partialAmount}}
            </p>
            <p class="txt-color-sand-1">
                Juros de {{option.interest}}% a.a
            </p>
        </mat-card-content>
    </mat-card>
    <div class="mt-15">
        <mat-checkbox class="txt-color-sand-1">
            Quero receber mais ofertas do Safra
        </mat-checkbox>
    </div>
    <button mat-raised-button color="blue" (click)="next()" [disabled]="!selectedOption" class="mt-15">Continuar</button>
</div>