<div class="m-15">
    <h2>Escolha a melhor opção para você</h2>

    <mat-card (click)="chooseOption()">
        <mat-card-header>
            <mat-card-title>Em 12 vezes</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                Valor total do finaciamento: R$ 300.000,00
            </p>
            <p>
                12 x de R$ 30.000,00
            </p>
            <p>
                Juros de 5% a.a
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Em 24 vezes</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                Valor total do finaciamento: R$ 300.000,00
            </p>
            <p>
                24 x de R$ 16.000,00
            </p>
            <p>
                Juros de 5% a.a
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Em 48 vezes</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                Valor total do finaciamento: R$ 300.000,00
            </p>
            <p>
                48 x de R$ 8.500,00
            </p>
            <p>
                Juros de 5% a.a
            </p>
        </mat-card-content>
    </mat-card>
</div>