<div class="m-15">
    <div class="clearfix header">
        <img src="/assets/logos/logo-safra.svg" class="logo" />
        <h1 class="txt-color-gold">Sobre</h1>
        <mat-divider></mat-divider>
    </div>
    <h3 class="txt-color-gold">Objetivo</h3>
    <p>O objetivo da solução é desenvolver uma aplicação que facilite a captura e conversão de pessoas em clientes Safra já com a aquisição de um produto ou serviço.</p>
    <p>A abordagem que utilizamos é a de estar onde o cliente está, para isso, nossa aplicação se integra a plataformas já existentes como e-commerces, sites imobiliários, sites de veículos, dentre outros, e por meio desses parceiros, oferecemos uma solução
        que disponibiliza produtos bancários para seus clientes de forma personalizada de acordo com o segmento de cada canal, como uma fiança no caso de um site imobiliário, um credito para compra de veículos em um site de automóveis ou mesmo uma antecipação
        de recebíveis para quem vende dentro de um marketplace.</p>
    <p>Ao utilizar os dados dos usuários provenientes de cada canal, conseguimos ter uma maior acuracidade no desenvolvimento de modelos e oferta de produtos assim como também conseguimos com base em dados, antecipar até mesmo suas necessidades e oferecer
        diferentes produtos por outros canais. Como exemplo, se um usuário simula uma operação de fiança na plataforma imobiliária X, poderíamos ofertar um crédito imobiliário e seu e-mail de acordo com seu perfil caso este não venha aceitar o empréstimo
        fiança.
    </p>

    <h3 class="txt-color-gold">Este App</h3>
    <p>Este App WebView foi desenvolvido com o intuido de simular uma das situações a cima, assim podemos mostar a experiência que o usuário está sujeito.</p>
    <p>A fim de simular um ambiente já logado no site X, a tela de Configurações permite escolher entre as possibolidades de usuários existentes dentro do site parceiro, ao escolher um será redirecionado para a tela de produto com o perfil do usuário selecionado,
        a fim de simular um ambiente real.
    </p>
    <p>O menu na barra de navegação permite que em qualquer momento seja possível voltar para a tela de configurações.</p>

    <a mat-button class="txt-color-blue" [routerLink]="[ '/' ]">voltar</a>
</div>