<mat-toolbar *ngIf="user">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="changeUser()">
      <mat-icon>people</mat-icon>
      <span>trocar de usuário</span>
    </button>
    </mat-menu>
    <span>Imobiliária X</span>
    <span class="spacer"></span>
    <span *ngIf="user">Olá, {{user.name}}</span>
</mat-toolbar>
<router-outlet></router-outlet>