html,
body {
    height: 100%;
    background-color: #f2f5f6;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.m-15 {
    margin: 15px;
}

.mt-15 {
    margin-top: 15px !important;
}

.w-100 {
    width: 100%;
}

.spacer {
    flex: 1 1 auto;
}

.mat-raised-button.mat-blue,
.mat-flat-button.mat-blue {
    background-color: #00003c;
    color: white;
}

.mat-button.mat-blue {
    color: #00003c;
}

.txt-color-blue {
    color: #00003c;
}

.bg-color-blue {
    background-color: #00003c;
}

.txt-color-gray {
    color: #f2f5f6;
}

.txt-color-gold {
    color: #D4AD68;
}

.bg-color-gray {
    background-color: #f2f5f6;
}

.bg-color-gold {
    background-color: #D4AD68;
}

.txt-color-sand-1 {
    color: #313131;
}

.txt-color-sand-3 {
    color: #494949;
}

.txt-color-sand-5 {
    color: #858585;
}

.txt-color-sand-7 {
    color: #b9b9b9;
}

.txt-color-sand-9 {
    color: #e0e0e0;
}

.txt-bd {
    font-weight: bold !important;
}

.font-15 {
    font-size: 15px;
}

.header {
    margin-bottom: 10px;
}

.logo {
    float: right;
    width: 100px;
    margin-top: 5px;
}